@model ComiComi.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model?.Id"><i class="bi bi-pencil-square" ></i>Edit</a>
    }
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
