<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h3>Orders Completed Successfully</h3>
        <p>You can check all your orders in the orders section of your profile</p>
        <hr />
        <p>Thank You</p>

    </div>
</div>