<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h3>Account Created Successfully</h3>
        <p>You can now Log In to your account.</p>
        <hr />
        <p>Thank You</p>

    </div>
</div>